<div>
    <mat-toolbar class="topNavbar">
        <img class="toolbarlogo" [src]="pokemonlogo" alt="Pokemon" >
        <span class="toolbarlogo-subtext">Gotta Catcha 'Em All!</span> 
        <span class="example-spacer"></span>
    </mat-toolbar>
</div>
<mat-form-field class="searchbar" appearance="outline">
    <mat-label>Enter Pokemon to search</mat-label>
    <input #searchbox matInput placeholder="Pikachu" type="search" autofocus="all" (keyup.enter)="getPokemonDetails(searchbox.value)">
</mat-form-field>

<!-- snippet added just to display raw data -->
<!-- {{PokemonSearchResponse.name}} -->

<app-psyduck-image class="psyduckClass"></app-psyduck-image>
