*{
  position: relative;
}
.example-spacer {
    flex: 1 1 auto;
  } 

.topNavbar{
  position: relative;
  height: 50px;
  padding: 5px;
  box-sizing: border-box; 
}

.toolbarlogo{
  position: absolute;
  padding: 5px;
  object-fit:contain;
  height: 100%; 
  border: 20px;
  box-sizing: border-box;
}

.toolbarlogo-subtext{
  position:absolute;
  top: 20px;
  left: 120px;
  font-size: 10px;
  box-sizing: border-box;
}

.psyduckClass{
  transform: scale(0.5);
}

.searchbar{
  position: absolute;
  top: 45%;
  left: 25%;
}