mat-card{
    width: 400px;
    height: 600px;
    left: 20%;
    color:white;
}

img.mainImage{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width : 95%;
    min-height: 250px!important; 
    max-height: 250px!important;
}
/* most color themes are taken from https://bulbapedia.bulbagarden.net/wiki/Category:Type_color_templates */
img.background-electic{
    background: linear-gradient(#FAE078, #A1871F);
}
img.background-normal{
    background: linear-gradient(#C6C6A7, #6D6D4E);
}
img.background-fighting{
    background: linear-gradient(#D67873, #7D1F1A);
}
img.background-flying{
    background: linear-gradient(#C6B7F5, #6D5E9C);
}
img.background-poison{
    background: linear-gradient(#C183C1, #682A68);
}
img.background-ground{
    background: linear-gradient(#EBD69D, #927D44);
}
img.background-rock{
    background: linear-gradient(#D1C17D, #786824);
}
img.background-bug{
    background: linear-gradient(#C6D16E, #6D7815);
}
img.background-ghost{
    background: linear-gradient(#A292BC, #493963);
}
img.background-steel{
    background: linear-gradient(#D1D1E0, #787887);
}
img.background-fire{
    background: linear-gradient(#F5AC78, #9C531F);
}
img.background-water{
    background: linear-gradient(#94DBEE, #445E9C);
}
img.background-grass{
    background: linear-gradient(#A7DB8D, #4E8234);
}
img.background-psychic{
    background: linear-gradient(#FA92B2, #A13959);
}
img.background-ice{
    background: linear-gradient(#BCE6E6, #638D8D);
}
img.background-dragon{
    background: linear-gradient(#A27DFA, #4924A1);
}
img.background-dark{
    background: linear-gradient(#A29288, #49392F);
}
img.background-fairy{
    background: linear-gradient(#F4BDC9, #9B6470);
}
img.background-unknown{
    background: linear-gradient(rgba(255, 255, 255, 0.43), rgba(0, 0, 0, 0.507));
}
img.background-shadow{
    background: linear-gradient(#9c9da4, #2c2c34);
}

/* alter to change backgroud color */
::ng-deep.card-background{
    background: linear-gradient(to bottom right,#FB1B1B,#0A285F);
}


mat-card mat-card-header img{
    width: fit-content;
}

::ng-deep.mat-tab-label{
    height: 27px !important;
    min-width: 10px!important;
    color:white;
}

::ng-deep.mat-list-item{
    height: 35px !important;
}

::ng-deep.mat-tab-group{
    max-height: 250px!important;
    color:white;
}

::ng-deep.mat-line{
    color:white;
}

::ng-deep.mat-progress-bar-fill::after {
    background-color: white !important;
}
::ng-deep.mat-progress-bar-buffer {
    background-color: grey;
 }
::ng-deep.mat-ink-bar {
    background-color:white !important;
}

.general-list-item{
    color: white;
    /* display: flex; */
    justify-content: space-between;
}

::ng-deep.mat-divider{
    border-top-color: rgba(245, 245, 245, 0.358);
}

.mat-card-subtitle{
    color: whitesmoke;
}