<button mat-stroked-button (click)="goBackShowSearchBar()">Back</button>

<div>
<mat-card class="card-background">
    <mat-card-header>
      <img mat-card-avatar [ngClass]="{ 
      'background-electic':pokemonType == 'electric',
      'background-normal':pokemonType == 'normal',
      'background-fighting':pokemonType == 'fighting',
      'background-flying':pokemonType == 'flying',
      'background-poison':pokemonType == 'poison',
      'background-ground':pokemonType == 'ground',
      'background-rock':pokemonType == 'rock',
      'background-bug':pokemonType == 'bug',
      'background-ghost':pokemonType == 'ghost',
      'background-steel':pokemonType == 'steel',
      'background-fire':pokemonType == 'fire',
      'background-water':pokemonType == 'water',
      'background-grass':pokemonType == 'grass',
      'background-psychic':pokemonType == 'psychic',
      'background-ice':pokemonType == 'ice',
      'background-dragon':pokemonType == 'dragon',
      'background-dark':pokemonType == 'dark',
      'background-fairy':pokemonType == 'fairy',
      'background-unknown':pokemonType == 'unknown',
      'background-shadow':pokemonType == 'shadow'}"
      [src]="mainCardHeaderImage" alt="X">
      <mat-card-title>{{pokemonData.name | titlecase}}</mat-card-title>
      <mat-card-subtitle [ngClass]="'mat-card-subtitle'">{{pokemonType | titlecase}} Type Pokemon!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [ngClass]="{'mainImage':true, 
    'background-electic':pokemonType == 'electric',
    'background-normal':pokemonType == 'normal',
    'background-fighting':pokemonType == 'fighting',
    'background-flying':pokemonType == 'flying',
    'background-poison':pokemonType == 'poison',
    'background-ground':pokemonType == 'ground',
    'background-rock':pokemonType == 'rock',
    'background-bug':pokemonType == 'bug',
    'background-ghost':pokemonType == 'ghost',
    'background-steel':pokemonType == 'steel',
    'background-fire':pokemonType == 'fire',
    'background-water':pokemonType == 'water',
    'background-grass':pokemonType == 'grass',
    'background-psychic':pokemonType == 'psychic',
    'background-ice':pokemonType == 'ice',
    'background-dragon':pokemonType == 'dragon',
    'background-dark':pokemonType == 'dark',
    'background-fairy':pokemonType == 'fairy',
    'background-unknown':pokemonType == 'unknown',
    'background-shadow':pokemonType == 'shadow'}"
    [src]="mainCardImage" alt="image not found" >
    <mat-card-content>
      <!-- dynamicHeight -->
        <mat-tab-group dynamicHeight mat-align-tabs="center" fxFill>  
          <mat-tab label="Stats">
            <mat-list>
              <mat-list-item *ngFor="let iterator of pokemonData.stats">
                <span mat-line>{{iterator.stat.name | titlecase }}</span>
                <mat-progress-bar class="green-progress" mat-line mode="determinate" value="{{iterator.base_stat}}"></mat-progress-bar>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="General">
            <div>
              <mat-list [ngClass]="''">
                <mat-list-item [ngClass]="'general-list-item'">
                  <span mat-line>Pokemon ID:&nbsp;</span><span mat-line-end>{{ this.generalDescription.pokeId }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngClass]="'general-list-item'">
                  <span mat-line>Exp:&nbsp;</span><span mat-line-end>{{ this.generalDescription.baseExperience }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngClass]="'general-list-item'">
                  <span mat-line>Height:&nbsp;</span><span mat-line-end>{{ this.generalDescription.height }}&nbsp;m</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngClass]="'general-list-item'">
                  <span mat-line>Weight:&nbsp;</span><span mat-line-end>{{ this.generalDescription.weight }}&nbsp;kg</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item [ngClass]="'general-list-item'">
                  <span mat-line>Type:&nbsp;</span>
                  <span mat-line-end>{{ this.generalDescription.types[0]?.type.name | titlecase}}&nbsp;</span>
                  <span mat-line-end>{{ this.generalDescription.types[1]?.type.name | titlecase}}</span>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-tab>
          <mat-tab label="Other">
          </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>   
</div>