mat-card{
    width: 400px;
    height: 600px;
}
mat-card img {
    object-fit: cover;
    width : 50%; 
}

card-background{
    background-color: rgb(227, 155, 22);
}

mat-card mat-card-header img{
    width: fit-content;
}

